.all-detail{
    margin: 350px auto;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
}

.bg-color-detail{
    height: 1272px;
    position: relative; 
    z-index: 0;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    margin: 15px;

}

.bg-white-detail{
    background-color: white;
    height: 1080px;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-detail img{
    width: 361px;
    height: 361px;
    position: absolute;
    top: 200px;
    z-index: 10;
    display: flex;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
}

.detail-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.id-number{
    margin-top: 40px;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #D3D3D3;
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: 600;
}

.name-separator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 25px 0;
}

.separator{
    margin: 0 10px;
    width: 35%;
    height: 1px;
    background-color: #D3D3D3;
}

.pokemon-name-detail{
    font-size: 2em;
}

.pokemon-measures{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.wh-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tm-measure{
    font-size: .8em;
    color: #0F0F2D;
}

.qty-measure{
    font-size: 1.4em;
    font-weight: 600;
    color: #0F0F2D;
}

.type-ab-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
}

.tyab-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ta-container-details{
    display: flex;
    gap: 20px;
}

.ta-boxes{
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    padding: 5px 30px;
}