.all-detail{
    margin: 350px auto;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
}

.bg-color-detail{
    height: 1272px;
    position: relative; 
    z-index: 0;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    margin: 15px;

}

.bg-white-detail{
    background-color: white;
    height: 1080px;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-detail img{
    width: 361px;
    height: 361px;
    position: absolute;
    top: 200px;
    z-index: 10;
    display: flex;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
}

.detail-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.id-number{
    margin-top: 40px;
    font-size: 2em;
    text-align: center;
    border: 2px solid #D3D3D3;
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: 600;
}

.all-separator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0px;
    padding: 0 150px;
}

.separator-title{
    font-size: 2em;
    font-weight: 600;
}

.separator{
    width: 30%;
    height: 1px;
    background-color: #D3D3D3;
}

.pokemon-name-detail{
    font-size: 2em;
}

.pokemon-measures{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.wh-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tm-measure{
    font-size: .8em;
    color: #0F0F2D;
}

.qty-measure{
    font-size: 1.4em;
    font-weight: 600;
    color: #0F0F2D;
}

.type-ab-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
    margin-top: 30px;
}

.tyab-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ta-container-details{
    display: flex;
    gap: 20px;
}

.ta-boxes{
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tyab-container span{
    font-size: 1.4em;
    font-weight: 600;
}

.separator2{
    margin: 0 0;
    width: 50%;
    height: 1px;
    background-color: #D3D3D3;
}

.ellipse-7{

    border: 3px solid #F7F5F5;
    transform: rotate(-9.49deg);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.ellipse-6{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: 3px solid #F7F5F5;
    border-radius: 50%;
}

.ellipse-5{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 89px;
    height: 89px;
    border: 3px solid #F7F5F5;
}

.vector-10{
    width: 33px;
    height: 0px;
    border: 2px solid #F7F5F5;
}

.vector-11{
    width: 33px;
    height: 0px;
    border: 2px solid #F7F5F5;
}

.main-stats{
    width: 100%;
    padding: 0 150px;
}

.ind-stats{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar{
    position: relative;
    background-color: #F6F6F6;
    border-radius:5px;
}

.ind-bar{
    position: relative;
    
    height: 40px;
    border-radius: 2.5px;
    background-color: #FCD676
    ;
}

.ind-container:not(:last-child){
    margin-bottom: 30px;
}

.w-container2{
    box-shadow: 0px 2px 16px rgb(0 0 0 / 15%);
    background-color: white;
    margin: 15px;
    
}

.moves-container{
    padding: 0 150px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 100px;
    justify-content: center;
}

.ind-moves{
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #D3D3D3;
    border-radius: 20px;
}

@media (max-width: 800px) {
    .type-ab-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
        width: 100%;
        margin-top: 30px;
    }
    .main-stats {
        width: 100%;
        padding: 0 50px;
    }
    .bg-color-detail{
        height: 1350px;
    }
    
    .bg-white-detail{
        background-color: white;
        height: 1150px;
    }

    .moves-container{
        padding: 0 50px;
    }

    .all-separator{
        padding: 0 50px;
    }
    .separator{
        width: 10%;
        margin: 0;

    }
    .separator2{
        min-width: 10%;
        width: auto;
    }
    .ta-boxes{
        padding: 5px 30px;

    }
}